/* Card Container */
.cards--body {
  width: 270px;
  height: 500px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

/* Image Styling */
.cards--body img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

/* Card Title */
.cards--body h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #491616;
  font-weight: bold;
}

/* Card Description */
.cards--body p {
  font-size: 14px;
  color: #161a29;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .cards--body {
    width: 240px;
    height: 450px;
    padding: 8px;
  }
  
  .cards--body h2 {
    font-size: 1.1rem;
  }

  .cards--body p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .cards--body {
    width: 220px;
    height: 400px;
    padding: 6px;
  }

  .cards--body h2 {
    font-size: 1rem;
  }

  .cards--body p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cards--body {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px;
  }

  .cards--body img {
    height: 60%;
  }

  .cards--body h2 {
    font-size: 1rem;
  }

  .cards--body p {
    font-size: 12px;
  }
}
