/* .digital-clock-body {
  background-image: url(assets/images/google-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
} */
.digital-clock-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
}

/* Clock Container */
.clock-container {
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 600px;
  width: 90%;
}

/* Clock Display */
.clock {
  color: black;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsl(240, 0%, 0%, 0.75);
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .clock-container {
    max-width: 500px;
  }
  
  .clock {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .clock-container {
    max-width: 400px;
  }

  .clock {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .clock-container {
    max-width: 90%;
    padding: 15px;
    border-radius: 10px;
  }

  .clock {
    font-size: 3rem;
  }
}
