body{
  font-family: Arial, sans-serif;
}
.project--nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  height: 100vh;
  background-color: hsla(0, 0%, 81%, 0.986);
  
}
.nav-heading{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
  gap: 20px;
}
.heading-font{
  color: #06582f;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: center;

  
  /* margin-top: 10px; */
}

.heading-font .link{
  text-decoration: none;
  color: #030a4b;
}
.heading-font .link:hover{
  color: #053dd6;
}

.techlogo{
  width: 50px;
  height: 35px;
}
.project-links{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.project-links .item{
  display: flex;
  gap: 10px;
   font-size: 1.3rem;
   font-weight: bold;
   padding: 6px 10px;
   min-width: 125px;
   border: none;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.7s ease;
   text-decoration: none;

}
.item{
  background-color: hsl(210, 100%, 50%);
}
.item:hover{
  background-color: hsl(210, 100%, 40%);
}
.item .fa-icon{
  width: 1rem;
  height: 1rem;
  color: #ece3e3;
  margin-top: 5px;
}

@media only screen and (max-width: 480px) {
  .project--nav {
    padding: 2px 5px;
    width: 100%;
    display: flex; 
    height: auto;
  }

  .nav-heading {
    gap: 5px;
  }

  .heading-font {
    font-size: 1.2rem;
  }

  .techlogo {
    width: 20px;
    height: 15px;
  }

  .project-links {
    margin-top: 10px;
    display: flex;
    flex-direction: row; /* Change to row layout */
    flex-wrap: wrap; /* Allow links to wrap to next line */
    gap: 10px; /* Add gap between links */
  }


  .project-links .item {
    font-size: 1rem;
    padding: 2px 4px;
    min-width:70px;

  }

}