.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f4f4f4; /* Light background */
}
.welcome--text{
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: #666;
  padding: 10px 20px;
  
}
.hero-section {
  padding: 2rem;
  max-width: 800px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.hero-section p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
.cta-button .cta-button-a{
  text-decoration: none;
  color: white;
}
.cta-button:hover {
  background-color: #0056b3;
}
.view-project{
  text-decoration: none;
  color: #f4f4f4;
}

.tech-icons i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #555;
}
.footer-rap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px
}
.email{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #555;
}
.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #555;
}
@media only screen and (max-width: 768px) {
  .hero-section {
    padding: 1rem;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .button-group {
    flex-direction: column;
  }

  .cta-button {
    padding: 0.5rem 1rem;
  }

  .footer-rap {
    flex-direction: column;
    gap: 10px;
  }
}


@media only screen and (max-width: 480px) {
  .welcome--text {
    font-size: 1rem;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 0.8rem;
  }

  .cta-button {
    padding: 0.2rem 0.5rem;
  }
}
